<div id="video">
    <div class="preloader">
        <div class="preloader-bounce">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <header id="header">
        <div class="container-fluid">
            <div class="navbar">
                <a href="#" id="logo" title="BrikshyaProduction-logo">
                    <img style="height: 80px;" src="assets/images/logo.png">
                </a>
                <div class="navigation-row">
                    <nav id="navigation">
                        <button type="button" class="navbar-toggle"> <i class="fa fa-bars"></i> </button>
                        <div class="nav-box navbar-collapse">
                            <ul class="navigation-menu nav navbar-nav navbars" id="nav">
                                <li data-menuanchor="slide01" class="active"><a href="#slide01">Home</a></li>
                                <li data-menuanchor="slide02"><a href="#slide02">About Us</a></li>
                                <li data-menuanchor="slide03"><a href="#slide03">Services</a></li>
                                <!-- <li data-menuanchor="slide04"><a href="#slide04">Our Skills</a></li> -->
                                <li data-menuanchor="slide05"><a href="#slide05">Our Work</a></li>
                                <li data-menuanchor="slide06"><a href="#slide06">Our Clients</a></li>
                                <li data-menuanchor="slide07"><a href="#slide07">Contact Us</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <video autoplay muted loop id="myVideo">
    <source src="assets/images/video-bg.mp4" type="video/mp4">
  </video>

    <div id="fullpage" class="fullpage-default">

        <div class="section animated-row" data-section="slide01">
            <div class="section-inner">
                <div class="welcome-box">
                    <span class="welcome-first animate" data-animate="fadeInUp">Hello, welcome to</span>
                    <h1 class="welcome-title animate" data-animate="fadeInUp">Brikshya Production</h1>
                    <p class="animate" data-animate="fadeInUp">
                        Brikshya Production team is a business that provides the physical basis for works in the fields of performing arts, new media art, film, television, radio, comics, interactive arts, video games, websites, and video.
                    </p>
                    <div class="scroll-down next-section animate" data-animate="fadeInUp">
                        <img src="assets/images/mouse-scroll.png" alt="">
                        <span>Scroll Down</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="section animated-row" data-section="slide02">
            <div class="section-inner">
                <div class="about-section">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 wide-col-laptop">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="about-contentbox">
                                        <div class="animate" data-animate="fadeInUp">
                                            <span>About Us</span>
                                            <h2>Who we are?</h2>
                                            <p>We are a group of individuals working together to achieve our goal. ... Teams normally have members with complementary skills and generate synergy through a coordinated effort which allows each member to maximize
                                                their strengths and minimize their weaknesses.</p>
                                        </div>
                                        <div class="facts-list owl-carousel">
                                            <div class="item animate" data-animate="fadeInUp">
                                                <div class="counter-box">
                                                    <i class="fa fa-trophy counter-icon" aria-hidden="true"></i><span class="count-number">00</span> Awards Won
                                                </div>
                                            </div>
                                            <div class="item animate" data-animate="fadeInUp">
                                                <div class="counter-box">
                                                    <i class="fa fa-graduation-cap counter-icon" aria-hidden="true"></i><span class="count-number">2</span> Degrees
                                                </div>
                                            </div>
                                            <div class="item animate" data-animate="fadeInUp">
                                                <div class="counter-box">
                                                    <i class="fa fa-desktop counter-icon" aria-hidden="true"></i><span class="count-number">2</span> Working Years
                                                </div>
                                            </div>
                                            <div class="item animate" data-animate="fadeInUp">
                                                <div class="counter-box">
                                                    <i class="fa fa-support counter-icon" aria-hidden="true"></i><span class="count-number">6</span> Team Members
                                                </div>
                                            </div>
                                            <div class="item animate" data-animate="fadeInUp">
                                                <div class="counter-box">
                                                    <i class="fa fa-certificate counter-icon" aria-hidden="true"></i><span class="count-number">6</span> Certificates
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <figure class="about-img animate" data-animate="fadeInUp"><img src="https://instagram.fktm3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/c0.119.1066.1066a/s640x640/84543035_125914492155907_3017174389621936538_n.jpg?tp=1&_nc_ht=instagram.fktm3-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=wWLUGDntGCUAX-dk0Ik&oh=e5ad178c94f701cf7e9a09efae948c21&oe=6063CB86"
                                            class="rounded" alt=""></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section animated-row" data-section="slide03">
            <div class="section-inner">
                <div class="row justify-content-center">
                    <div class="col-md-8 wide-col-laptop">
                        <div class="title-block animate" data-animate="fadeInUp">
                            <span>Services</span>
                            <h2>What We Do?</h2>
                        </div>
                        <div class="services-section">
                            <div class="services-list owl-carousel">
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="service-box">
                                        <span class="service-icon"><i class="fa fa-audio-description" aria-hidden="true"></i></span>
                                        <h3>Ad</h3>
                                        <p>An ad should answer the "why" of purchasing the brand or product. This can be a subtext of your header, or implied by the image. If you sell a natural skin care line, an image of a clean face and a headline using
                                            words such as "pure" can tell readers they should buy the product to obtain natural beauty. </p>
                                    </div>
                                </div>
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="service-box">
                                        <span class="service-icon"><i class="fa fa-photo" aria-hidden="true"></i></span>
                                        <h3>Music Video</h3>
                                        <p>A music video is a short film, of variable length, that integrates a song or album with imagery that is produced for promotional or artistic purposes. Modern music ... </p>
                                    </div>
                                </div>
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="service-box">
                                        <span class="service-icon"><i class="fa fa-film" aria-hidden="true"></i></span>
                                        <h3>Movie</h3>
                                        <p>A movie, motion picture or moving picture, is a work of visual art used to simulate experiences that communicate ideas, stories, perceptions, ... </p>
                                    </div>
                                </div>
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="service-box">
                                        <span class="service-icon"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                                        <h3>Mobile Ready</h3>
                                        <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                                    </div>
                                </div>
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="service-box">
                                        <span class="service-icon"><i class="fa fa-comments" aria-hidden="true"></i></span>
                                        <h3>Fast Support</h3>
                                        <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                                    </div>
                                </div>
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="service-box">
                                        <span class="service-icon"><i class="fa fa-database" aria-hidden="true"></i></span>
                                        <h3>24-hour Up Time</h3>
                                        <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                                    </div>
                                </div>
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="service-box">
                                        <span class="service-icon"><i class="fa fa-bell" aria-hidden="true"></i></span>
                                        <h3>Instant Upgrades</h3>
                                        <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                                    </div>
                                </div>
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="service-box">
                                        <span class="service-icon"><i class="fa fa-camera" aria-hidden="true"></i></span>
                                        <h3>Always Monitoring</h3>
                                        <p>Nullam auctor, justo vitae accumsan ultrices, arcu ex molestie massa, eu maximus enim tortor vitae quam. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="section animated-row" data-section="slide04">
            <div class="section-inner">
                <div class="row justify-content-center">
                    <div class="col-md-7 wide-col-laptop">
                        <div class="title-block animate" data-animate="fadeInUp">
                            <span>We Skills</span>
                            <h2>What we good?</h2>
                        </div>
                        <div class="skills-row animate" data-animate="fadeInDown">
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <div class="skill-item">
                                        <h6>Video Editing</h6>
                                        <div class="skill-bar">
                                            <span>70%</span>
                                            <div class="filled-bar"></div>
                                        </div>
                                    </div>
                                    <div class="skill-item">
                                        <h6>Cinematography</h6>
                                        <div class="skill-bar">
                                            <span>55%</span>
                                            <div class="filled-bar"></div>
                                        </div>
                                    </div>
                                    <div class="skill-item">
                                        <h6>PSD Design</h6>
                                        <div class="skill-bar">
                                            <span>90%</span>
                                            <div class="filled-bar-2"></div>
                                        </div>
                                    </div>
                                    <div class="skill-item">
                                        <h6>Social Media</h6>
                                        <div class="skill-bar">
                                            <span>70%</span>
                                            <div class="filled-bar"></div>
                                        </div>
                                    </div>
                                    <div class="skill-item last-skill">
                                        <h6>Leadership</h6>
                                        <div class="skill-bar">
                                            <span>90%</span>
                                            <div class="filled-bar-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="section animated-row" data-section="slide06">
            <div class="section-inner">
                <div class="row justify-content-center">
                    <div class="col-md-8 wide-col-laptop">
                        <div class="title-block animate" data-animate="fadeInUp">
                            <span>Our Work</span>
                            <h2>what we’ve done?</h2>
                        </div>
                        <div class="gallery-section">
                            <div class="gallery-list owl-carousel">
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="portfolio-item">
                                        <div class="thumb">
                                            <img src="assets/images/asav.PNG" alt="">
                                        </div>
                                        <div class="thumb-inner animate" data-animate="fadeInUp">
                                            <h4>
                                                <a style="color: #000;" href="https://www.youtube.com/watch?v=FvqrkKE5M-k&t=9s">Aasav</a></h4>
                                            <p>Please tell your friends about it. Brikshya Production is the best production house to make film.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="portfolio-item">
                                        <div class="thumb">
                                            <img src="assets/images/dur.PNG" alt="">
                                        </div>
                                        <div class="thumb-inner animate" data-animate="fadeInUp">
                                            <h4><a style="color: #000;" href="https://www.youtube.com/watch?v=Fghtkg23v3E&t=83s">Dur Vaagi</a></h4>
                                            <p>Durvaagi || Short Nepali Film - 2021.                                                .</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="portfolio-item">
                                        <div class="thumb">
                                            <img src="assets/images/suchana.PNG" alt="">
                                        </div>
                                        <div class="thumb-inner animate" data-animate="fadeInUp">
                                            <h4><a style="color: #000;" href="https://www.youtube.com/watch?v=7niPZPLTeSc&ab_channel=AlbatrossNepal-Official">Suchana!</a></h4>
                                            <p>सुचना! सुचना! सुचना!

                                                यो कस्तो अनौठो
                                                जति जे गरेनी एउटै परिणाम
                                                नगर्ननी गार्हो
                                                सम्झना आउछ त्यही अनुहार
                                                मानवता हराएको सुचना म दिउ कसलाई
                                                कोही छ सुनी लेउ मेरो गुनासो</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="portfolio-item">
                                        <div class="thumb">
                                            <img src="assets/images/aasa.PNG" alt="">
                                        </div>
                                        <div class="thumb-inner animate" data-animate="fadeInUp">
                                            <h4>
                                                <a style="color: #000;" href="https://www.youtube.com/watch?v=FvqrkKE5M-k&t=9s">Asha Nirasha</a></h4>
                                            <p>के खोज्यौ तिमीले यहाँ, के आशा राखेछौ फेरी
                                                यी दु:ख सुख सबै हुन, संसारका रिती
                                                समयले सम्झाउला तिमीलाई केही ईतिहासका कुरा
                                                तर तिमी सम्झिनु र बुझ्नु</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="portfolio-item">
                                        <div class="thumb">
                                            <img src="assets/images/higher.PNG" alt="">
                                        </div>
                                        <div class="thumb-inner animate" data-animate="fadeInUp">
                                            <h4><a style="color: #000;" href="https://www.youtube.com/watch?v=YCmWeu1p23U&ab_channel=VulcanGaming">WE HIGHER || OFFICIAL THEME SONG</a></h4>
                                            <p>This is the official music video of "We Higher", Free Fire Nepal Showdown Theme Song.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section animated-row" data-section="slide05">
            <div class="section-inner">
                <div class="row justify-content-center">
                    <div class="col-md-8 wide-col-laptop">
                        <div class="title-block animate" data-animate="fadeInUp">
                            <!-- <span>TESTIMONIALS</span> -->
                            <h2>what THEY SAY?</h2>
                        </div>
                        <div class="col-md-8 offset-md-2">
                            <div class="testimonials-section">
                                <div class="testimonials-slider owl-carousel">
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="testimonial-item">
                                            <div class="client-row">
                                                <img src="assets/images/sag.jpg" class="rounded-circle"
                                                    alt="profile 1">
                                            </div>
                                            <div class="testimonial-content">
                                                <h4>Sagar Katuwal</h4>
                                                <p>"Our one-day intensive course designed to equip you with practical and pragmatic insight into the role and responsibilities of the managing director."</p>
                                                <span>Managing Director</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="testimonial-item">
                                            <div class="client-row">
                                                <img src="assets/images/gaura.JPG"
                                                    class="rounded-circle" alt="profile 2">
                                            </div>
                                            <div class="testimonial-content">
                                                <h4>Gaurav Ayer</h4>
                                                <p>"The CEO directs the operational aspects of a company; the board of directors oversees the company as a whole, while the leader of the board is called the chairman of the board (COB)."</p>
                                                <span>CEO and Founder</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="testimonial-item">
                                            <div class="client-row">
                                                <img src="assets/images/praj.JPG"
                                                    class="rounded-circle" alt="profile 3">
                                            </div>
                                            <div class="testimonial-content">
                                                <h4>Prajwol Aryal</h4>
                                                <p>"Responsible for all marketing strategies and activities within the company. Oversees the marketing department and provides direction and feedback on major projects. Makes key decisions regarding product
                                                    distribution, budgeting, branding, and sales."</p>
                                                <span>Chief Marketing Officer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section animated-row" data-section="slide07">
            <div class="section-inner">
                <div class="row justify-content-center">
                    <div class="col-md-7 wide-col-laptop">
                        <div class="title-block animate" data-animate="fadeInUp">
                            <span>Contact</span>
                            <h2>Get In Touch!</h2>
                        </div>
                        <div class="contact-section">
                            <div class="row">
                                <div class="col-md-6 animate" data-animate="fadeInUp">
                                    <div class="contact-box">
                                        <div class="contact-row">
                                            <i class="fa fa-map-marker"></i> New Baneshwor, Kathmandu Nepal
                                        </div>
                                        <div class="contact-row">
                                            <i class="fa fa-phone"></i> +977 (9866035419)
                                        </div>
                                        <div class="contact-row">
                                            <i class="fa fa-envelope"></i> brikshyaproduction@gmail.com
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 animate" data-animate="fadeInUp">
                                    <form id="ajax-contact" method="post" action="#">
                                        <div class="input-field">
                                            <input type="text" class="form-control" name="name" id="name" required placeholder="Name" autocomplete="off">
                                        </div>
                                        <div class="input-field">
                                            <input type="email" class="form-control" name="email" id="email" required placeholder="Email" autocomplete="off">
                                        </div>
                                        <div class="input-field">
                                            <textarea class="form-control" name="message" id="message" required placeholder="Message" autocomplete="off"></textarea>
                                        </div>
                                        <button class="btn" type="submit">Submit</button>
                                    </form>
                                    <div id="form-messages" class="mt-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="col-md-12 pt-4 mt-4">
                    <p style="color: rgba(0,0,0,.7); text-shadow: 0 1px rgba(255, 255, 255, 0.1);">
                        © Copyright 2021 BrikshyaProduction. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="social-icons">
        <div class="text-right">
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/brikshyaproduction" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.twitter.com/brikshyaproduction" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/brikshyaproduction/" title="Linkedin"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UC1G--WT32OON4uoNq3WCuDg" title="Instagram"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
</div>